<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" /> |
            <a href="@Url.Action("Index", new { carId = Model.CarID })" class="btn btn-secondary">
                <i class="fa fa-backward" aria-hidden="true"></i> Back to list
            </a>
        </div>
    </div>
</body>
</html>
