/* Assignment 1 (BMI Calculator) */

.wrapper-assignment-1, .wrapper-assignment-3 {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #59a7de;
    border-radius: 10px;
    background-color: #92c8ee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output {
    margin-top: 20px;
}

#btn_calculate {
    margin-top: 20px;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid black;
}



/* Assignment 2 (jQuery) */

.heading-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper-assignment-2 {
    margin: 0;
    padding: 0;
    height: 111vh;
    display: flex;
    flex-direction: column;
}

#container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#square {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: all 0.5s ease;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    padding-top: 50px;
    padding-left: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn {
    margin: 0 10px;
}


/* Assignment 3 (Currency Calculator) */

